# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Thabo Tsosi\OneDrive\Documents\Accounting Science (CompSci & IS)\3rd Year\Semester 2\WRR301\TutorBuddy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
